.login_container {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_form_container {
    width: 900px;
    height: 500px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
        0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='577' preserveAspectRatio='none' viewBox='0 0 1440 577'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1099%26quot%3b)' fill='none'%3e%3crect width='1440' height='577' x='0' y='0' fill='rgba(196%2c 146%2c 229%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c586.032C108.548%2c562.131%2c142.736%2c424.123%2c223.479%2c347.74C285.213%2c289.34%2c367.906%2c259.596%2c417.792%2c190.799C475.74%2c110.885%2c525.045%2c22.189%2c530.994%2c-76.345C537.671%2c-186.943%2c539.495%2c-323.277%2c453.009%2c-392.534C364.296%2c-463.574%2c228.452%2c-374.64%2c119.235%2c-406.075C10.992%2c-437.229%2c-58.943%2c-600.437%2c-167.717%2c-571.192C-275.591%2c-542.189%2c-255.196%2c-368.924%2c-329.424%2c-285.448C-405.227%2c-200.201%2c-565.112%2c-195.041%2c-599.043%2c-86.129C-632.268%2c20.516%2c-541.609%2c124.89%2c-487.749%2c222.748C-437.52%2c314.01%2c-380.698%2c400.153%2c-297.153%2c462.379C-209.333%2c527.789%2c-106.94%2c609.579%2c0%2c586.032' fill='%23b97de0'%3e%3c/path%3e%3cpath d='M1440 1169.132C1551.142 1182.752 1652.334 1113.984 1750.606 1060.312 1855.737 1002.894 1978.734 954.6990000000001 2030.454 846.6510000000001 2082.372 738.191 2056.755 608.437 2022.013 493.319 1990.5259999999998 388.988 1911.935 312.175 1843.5430000000001 227.32799999999997 1772.407 139.077 1721.483 20.61099999999999 1613.413-13.589000000000055 1505.013-47.894000000000005 1392.642 12.750999999999976 1285.47 50.71900000000005 1183.801 86.738 1084.752 127.12799999999999 1006.543 201.40699999999998 922.682 281.054 845.99 374.86199999999997 824.516 488.507 802.629 604.334 820.413 732.496 887.929 829.1220000000001 951.988 920.8009999999999 1079.516 931.094 1174.746 989.744 1267.51 1046.876 1331.863 1155.8809999999999 1440 1169.132' fill='%23d0a7ea'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1099'%3e%3crect width='1440' height='577' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: cover;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_container h1 {
    font-size: 40px;
    margin-top: 0;
}

.input {
    outline: none;
    border: none;
    width: 370px;
    padding: 15px;
    border-radius: 10px;
    background-color: #edf5f3;
    margin: 5px 0;
    font-size: 14px;
}

.error_msg {
    width: 370px;
    padding: 15px;
    margin: 5px 0;
    font-size: 14px;
    background-color: #f34646;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#ff6f61;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

.right h1 {
    margin-top: 0;
    color: white;
    font-size: 40px;
    align-self: center;
}

.white_btn,
.green_btn {
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: white;
    border-radius: 20px;
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.green_btn {
    background-color: #ff6f61;
    color: white;
    margin: 10px;
}